/* General */

:root{
    --very-light-pink: #C7C7C7;
    --white: #fff;
    --text-input-field: #f7f7f7;
    --black: #000;
    --hospital-green: #ACD9B2;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
}

html{
    font-size: 62.5%;
}

/* Navigation */
.nav-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr auto;
    align-items: center;
    width: 100%;
    height: 30vh;
}

.nav-subcontainer1{
    display: flex;
    height: 75%;
    justify-content: space-between;
    align-items: center;
    grid-area: 1 / 1 / 2 / 5;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.046);
}

.nav__img{
    height: fit-content;
    margin: 0 18px;
}

.nav-subcontainer2{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 100%;
    grid-area: 2 / 1 / 3 / 5;
}

.nav__search{
    margin: 0 auto;
    width: 90%;
    max-width: 340px;
    height: 70%;
    padding-left: 40px;
    background-color: var(--text-input-field);
    border: none;
    border-radius: 10px;
    font-size: 1.6rem;
    font-weight: 500;
    font-family: inherit;
    line-height: 2rem;
    color: var(--very-light-pink);
}

.nav__search::placeholder{
    color:var(--very-light-pink);
}

.nav__search--icon{
    position: absolute;
    width: 17px;
    height: 17px;
    background: url('../assets/Icons/Search.svg') center/cover no-repeat;
    left: 30px;
}

.nav-subcontainer3{
    width: 100%;
    height: 100%;
    display: flex;
    grid-area: 3 / 1 / 4 / 5;
    justify-content: flex-start;
    overflow-x: scroll;
    overflow-y: hidden;
}


.nav__item{
    width: fit-content;
    height: fit-content;
    padding: 5px 7px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2rem;
    color:var(--very-light-pink);
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

.nav--selected{
    color: var(--hospital-green);
}

.nav--border{
    border: 1px solid var(--hospital-green);
    border-radius: 10px;
    margin-left: 18px;
}

.nav--email{
    display: none;
    width: 25%;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    text-align: right;
    color: var(--very-light-pink);
    cursor: pointer;
    margin-right: 35px;
}

.nav--cart{
    position: relative;
    cursor: pointer;
}

.order{
    grid-area: 4 / 2 / 5 / 4;
    place-self: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
}


.order span{
    position: absolute;
    width: 6px;
    height: 3px;
    background: url('../assets/Icons/arrow_down.svg') center/cover no-repeat;
    top: calc(30% - 10px);
    margin-left: 5px;
}

/* Desktop Menu */

.desktop-menu{
    position: fixed;
    z-index: 1;
    top: 61px;
    right: 70px;
    width: 150px;
    height: auto;
    border: 1px solid var(--text-input-field);
    border-radius: 5px;
    filter: drop-shadow(0 0 4px 0 rgba(0, 0, 0, 0.11));
    background-color: var(--white);
    padding: 0 25px 26px 25px;
    box-shadow: -9px 14px 30px 0px rgba(0,0,0,0.45);
}

.desktop-menu ul{
    list-style: none;
}

.desktop-menu li{
    text-align: end;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 700;
    padding-top: 30px;
}

.desktop-menu a{
    text-decoration: none;
    color: black;
}

.desktop-menu li:nth-child(2){
    margin-bottom: 20px;
}

.desktop-menu li:last-child{
    border-top: 1px solid rgba(151, 151, 151, 0.1)
}

.desktop-menu li:last-child a{
    color: var(--hospital-green);
}

/* Mobile Menu */

.mobile-menu{
    position: fixed;
    top: 60px;
    width: 100%;
    height: 90vh;
    padding: 40px;
    z-index: 1;
    background-color: var(--white);
}

.categories{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 42px;
    border-bottom: 1px solid var(--text-input-field);
}

.list{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list--item a{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    text-decoration: none;
    color: black;
}

.title{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 40px;
}

.my-stuff{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0 30px;
}
.my-stuff__list{
    display: grid;
}

.profile{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile__list--email{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.7rem;
}

.profile__list--sign-out a{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7rem;
    color: var(--hospital-green);
}

/* Shopping Cart */

.order-container {
    position: absolute;
    top: 60px;
    height: auto;
    width: 100%;
    min-width: 320px;
    max-width: 420px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 80px auto auto 80px;
    gap: 15px;
    background: var(--white);
    z-index: 1;
    padding: 0 18px;
    border-radius: 10px;
  }
  
  .order-subcontainer{
    width: 100%;
    min-height: 80px;
    margin: 0 auto;
    height: auto;
    display: grid;
    grid-auto-rows: 80px;
    gap: 15px;
  }

  .empty-cart{
    align-self: center;
    text-align: center;
    line-height: 1.7rem;
    font-size: 1.7rem;
  }

  .order--title{
    align-self: center;
  }

  .back{
    display: none;
  }
  
  .order__overview {
    display: grid;
    padding: 18px;
    grid-template-columns: 1fr 1fr;
    background-color: var(--text-input-field);
    border-radius: 10px;
  }
  
  .overview--text {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7rem;
    align-self: center;
  }
  
  .overview--total {
    font-family: "Roboto", sans-serif;
    text-align: end;
    align-self: center;
    padding-block-end: 2px;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: #404040;
  }
  
  .order__article {
    display: grid;
    grid-template-columns: minmax(60px, 76px) 1fr auto;
    place-items: center;
  }
  
  .article--img {
    width: 100%;
    max-width: 120px;
    border-radius: 20px;
  }
  
  .article--name {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: rgba(121, 121, 121, 1);
    justify-self: start;
    margin-left: 18px;
  }
  
  .article--price {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2rem;
    margin-right: 17px;
    color: #404040;
  }
  
  .cancel-item {
    position: absolute;
    width: 12px;
    height: 12px;
    margin: 4px 10px;
    background: url("../assets/Icons/icon_close.png") center/cover no-repeat;
    cursor: pointer;
  }
  
  .primary-button {
    width: 100%;
    height: 50px;
    border: 1px solid var(--hospital-green);
    border-radius: 8px;
    background-color: var(--hospital-green);
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.25rem;
    font-family: inherit;
    align-self: bottom;
    margin: 10px auto 0;
    cursor: pointer;
  }
/* Product Detail */
  .product-detail{
    top: 61px;
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 320px;
    max-width: 320px;
    height: auto;
    z-index: 1;
    background-color: var(--white);
}

.product--img{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 14px;
}

.exit{
    position: absolute;
    margin: 18px 0 0 14px;
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 50%;
    cursor: pointer;
}

.exit span{
    background: url('../assets/Icons/icon_close.png') center/cover no-repeat;
    width: 12px;
    height: 12px;
    position: inherit;
    margin: 14px;
}

.slider-container{
    display: flex;
    width: 100%;
    height: 14px;
    justify-content: center;
    margin-block-end: 15px;
}

.slider-container > .product--slider{
    width: 7px;
    height: 7px;
    background-color: var(--very-light-pink);
    border-radius: 50%;
    margin: 0 2.5px;
    cursor: pointer;
}

.slider-container > .product--slider:hover{
    background-color: var(--hospital-green);
}

.slider-container > .slider--selected{
    background-color: var(--hospital-green);
}

.product-description-container{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0 34px;
    margin-bottom: 20px;
}

.product--price{
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: #404040;
}

.product--name{
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: #797979;
}

.product--description{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: #797979;
}

.button{
    margin: 0 34px 20px;
    display: flex;
    align-items: center;
    justify-content: center;    
    width: 80%;
    height: 60px;
    border: none;
    border-radius: 10px;
    background-color: var(--hospital-green);
    font-size: 1.8rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 2.2rem;
    color: var(--white);
    cursor: pointer;
}

.button img{
    margin-right: 10px;
}

/* Main */

.shop-container{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 20px 5px;
    grid-auto-rows: 250px;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
}

.shop__item{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.item--img{
    cursor: pointer;
    width: 95%;
    border-radius: 10%;
    filter: drop-shadow(0px 0px 15px rgba(199, 199, 199, 0.5));
}

.item--price{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1.9rem;
    align-self: flex-start;
    margin: 12px 0 1px 5px;
    color: rgba(64, 64, 64, 1);
}

.item--title{
    align-self: flex-start;
    margin-left: 5px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.7rem;
    color:rgba(121, 121, 121, 1);
}

.item--cart{
    width: 40px;
    height: 40px;
    position: relative;
    background: url('../assets/Icons/bt_add_to_cart.svg') center/cover no-repeat var(--hospital-green);
    align-self: flex-end;
    bottom: 40px;
    right: 4px;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
}

.item--added{
    background-image: url('../assets/Icons/bt_added_to_cart.svg');
    background-color: var(--white);
}

/* Inactive */

.inactive{
    display: none;
}


@media(max-width: 551px){
    .desktop-menu{
        display: none;
    }
}

@media(min-width:375px){
    .shop-container{
        grid-template-columns: repeat(auto-fit, minmax(150px, 170px));
    }

    .item--title{
        font-size: 1.4rem;
    }
}

@media (min-width: 385px){
    .nav__search--icon{
        left: 40px;
    }

}

@media (min-width: 400px){
    .nav__search--icon{
        left: 50px;
    }
}

@media (min-width: 500px){
    .nav__search{
        margin: 0 18px;
    }
    
    .nav__search--icon{
        left: 30px;
    }

    .order{
        grid-row: 2 / 3;
        grid-column: 3 / 5;
        justify-self: flex-end;
        margin-right: calc(25% - 50px)
    }

    .order span{
        top: calc(10% + 23px);
        left:calc(100% - 15px);
    }

}


@media (min-width: 550px) {
    .mobile-menu{
        display: none;
    }
    .order-container{
        right: 0;
        box-shadow: -1px 8px 20px 0px rgb(0 0 0 / 20%);
    }
    .back {
        width: 24px;
        height: 16px;
        background: url("../assets/Icons/Back.svg") center/cover no-repeat;
        position: absolute;
        margin-block-start: 32px;
        margin-inline-start: 24px;
        display: inline-block;
      }
    
      .order--title {
        margin-left: 48px;
      }
      
    .nav-container{
        height: 20vh;
        grid-template-rows: 1fr 1fr auto auto;
    }

    .nav--menu{
        display: none;
    }
    .nav--logo{
        height: 50%;
    }
    .nav--email{
        display: inline-block;
        justify-self: flex-end;
        margin-right: 90px;
        
    }

    .nav-subcontainer2{
        justify-content: flex-start;
    }

    .order{
        margin-right: calc(25% - 5px);
    }

    .order span{
        left: calc(100% - 65px);
    }

    .nav-subcontainer3{
        grid-area: 1 / 2 / 2 / 5;
        align-items: center;
        justify-content: flex-start;
    }
    
      .overview--articles {
        font-size: 1.4rem;
      }
    
      .overview--total {
        font-size: 1.6rem;
      }
    
      .article--name {
        font-size: 1.4rem;
      }
    
      .article--price {
        font-size: 1.6rem;
      }
}


@media (min-width: 768px){
    .nav__search{
        margin-left: 5%;
    }

    .nav__search--icon{
        left: 6%;
    }

    .order{
        justify-self: flex-start;
    }

    .order span{
        left: calc(50% + 130px);
    }
}

@media (min-width: 1024px){
    .order-container{
        top: 61px;
    }
    .nav__search{
        margin-left: 6.5%;
    }
    .nav__search--icon{
        left: 6.75%;
    }

    .order{
        grid-column: 2 / 4;
        justify-self: center;
        margin: 0;
    }
    .order span{
        left: calc(60% - 39px);
    }
    .shop-container{
        max-width: 1200px;
        margin: 40px auto;
        grid-template-columns: repeat(auto-fit, minmax(170px, 220px));
    }
}

@media(min-width: 1068px){
    .order span{
        top: calc(15% - 2px);
    }
}

@media (min-width: 1240px){
    .nav__search--icon{
        left: 7.75%;
    }

    .order{
        justify-self: center;
        margin-right: 250px;
    }

    .order span{
        left: calc(45% + 6px);
    }

    .nav-subcontainer3{
        overflow-x: hidden;
    }
}

@media (min-width: 1440px){
    .order{
        justify-self: start;
        margin-left: 100px;
    }

    .order span{
        left: calc(43% - 33px);
    }
}